<mat-toolbar color="primary" role="heading" class="mat-elevation-z6 main-header">
  <a mat-button routerLink="">Головна</a>
  <a mat-button>Послуги</a>
  <a mat-button routerLink="contacts">Контакти</a>
  <div class="flex-spacer-md"></div>
  <div class="phones-block">
    <a mat-button href="tel:+38-067-383-3877">
      <mat-icon>call</mat-icon>
      +38-067-383-3877
    </a>
    <a mat-button href="tel:+38-032-238-8263">
      <mat-icon>call</mat-icon>
      +38-032-238-8263
    </a>
  </div>
</mat-toolbar>

<mat-toolbar color="primary" class="second-header">
  <h1>Експерт Сервіс</h1>
  <div class="flex-spacer"></div>
  <a class="phone-icon-btn" href="tel:+38-067-383-3877" mat-icon-button>
    <mat-icon>phone</mat-icon>
  </a>
</mat-toolbar>
