<div>
<h3>Зв'яжіться з нами</h3>
<h4>Телефонуйте за номером:</h4>
<div class="links-wrapper">
  <a mat-raised-button href="tel:+38-067-383-3877">+38-067-383-3877</a>
  <a mat-raised-button href="tel:+38-067-383-3877">+38-067-383-3877</a>
</div>
<h4>Надсилайте електронну заявку:</h4>
<form>
  <mat-form-field>
    <input matInput placeholder="Ім'я">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Номер телефону">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Текст заявки"></textarea>
  </mat-form-field>
  <a mat-raised-button color="accent">Надіслати</a>
</form>
</div>
