main {
  min-height: 70vh;
  background-color: transparent;
  margin: -1px auto 0 auto;
  padding: 1px 15px 0 15px;
}

@media (min-width: 768px) {
  main {
    width: 750px;
  }
}

@media (min-width: 992px) {
  main {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  main {
    width: 1170px;
  }
}
