<section>
  <div>
    <h3>Незалежна експертна установа</h3>
    <p>Необхідна оцінка транспортного засобу?</p>
    <p>Бажаєте знати точну суму ремонту свого автомобіля?</p>
    <p>Плануєте подати позов до суду?</p>
    <p>Страхова компанія стверджує, що автомобіль не підлягає ремонту?</p>
    <p>Ви є винуватцем дтп і вам необхідно виплатити збитки потерпілій стороні, але сума, яку вам пред'явили, явно завищена?</p>
    <p>У такому разі ми вам допоможемо!</p>
  </div>
  <div>
    <div>
      <app-form></app-form>
    </div>
  </div>
</section>
<section>
  <h3>Наші послуги:</h3>
  <ul>
    <li>Оцінка пошкодженого транспортного засобу, ринкова вартість</li>
    <li>Збір документів, врегулювання страхових випадків (МТСБУ)</li>
    <li>Досудовий та судовий супровід після ДТП</li>
    <li>Допомога врегулювання ДТП за кордоном</li>
    <li>Складання європротоколу (без участі ДАІ)</li>
  </ul>
</section>
