<footer>
  <ul>
    <li class="single">
        <mat-icon>home</mat-icon>
        79041, м. Львів, вул. Окружна, 57а, каб. 504, 5 пов.
    </li>
    <li>
      <a mat-button href="tel:+38-067-383-3877">
        <mat-icon>call</mat-icon>
        +38-067-383-3877
      </a>
    </li>
    <li>
      <a mat-button href="tel:+38-032-238-8263">
        <mat-icon>call</mat-icon>
        +38-032-238-8263
      </a>
    </li>
    <li class="single">
        <mat-icon>email</mat-icon>
        ekspert-servis@i.ua
    </li>
  </ul>
  <div class="logo">Експерт Сервіс</div>
</footer>
